In [174]:
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd
import cv2
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.utils import to_categorical

from tqdm import tqdm_notebook
import matplotlib.pyplot as plt

from matplotlib import rcParams

In [175]:
df_train = pd.read_csv('./train.csv')
df_train_copy=df_train.copy()

df_test=pd.read_csv('./test.csv')
df_test_copy=df_test.copy()
f_test_ID=df_test.iloc[:,0]

df_test_y=pd.read_csv('./sampleSubmission.csv')
df_test_y_copy=df_test_y.copy()

print (df_train_copy.shape)
print (df_test_copy.shape)
print (df_test_y_copy.shape)
print(df_train_copy.columns)
print(df_test_copy.columns)

(108800, 11)
(27200, 10)
(27200, 2)
Index(['user_id', 'device_id', 'age', 'sex', 'browser', 'source', 'country',
       'purchase_value', 'signup_time', 'purchase_time', 'class'],
      dtype='object')
Index(['user_id', 'device_id', 'age', 'sex', 'browser', 'source', 'country',
       'purchase_value', 'signup_time', 'purchase_time'],
      dtype='object')

In [176]:
#train data & test data合併再做資料整理，避免不一玫
combine_data=pd.concat((df_train_copy.loc[:,'user_id':'purchase_time'],
                     df_test_copy.loc[:,'user_id':'purchase_time']))
print(f'combine_data.shape={combine_data.shape}')
combine_data.info()

combine_data.shape=(136000, 10)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 136000 entries, 0 to 27199
Data columns (total 10 columns):
user_id           136000 non-null object
device_id         136000 non-null object
age               136000 non-null int64
sex               136000 non-null int64
browser           136000 non-null object
source            136000 non-null object
country           116234 non-null object
purchase_value    136000 non-null int64
signup_time       136000 non-null object
purchase_time     136000 non-null object
dtypes: int64(3), object(7)
memory usage: 11.4+ MB

## 開始整理資料

In [177]:
#1.將'country'之NA值other取代
combine_data['country'] = combine_data['country'].fillna(value='Other')
combine_data

,user_id,device_id,age,sex,browser,source,country,purchase_value,signup_time,purchase_time
0,6b5aecb444b26,7a543b4bf3647,33,0,Safari,Ads,United States,48,2018-05-27 12:02:29,2018-08-19 14:09:55
1,f00edc3db68f0,c35ab03e7ff0f,26,1,Chrome,Direct,European Union,50,2018-06-06 08:09:12,2018-09-09 01:26:43
2,6f144a20b2e41,31a274c4b1d58,28,0,Chrome,Direct,United States,31,2018-03-29 18:24:17,2018-06-13 04:56:21
3,21db12c470157,74e7d74dbd61d,50,0,FireFox,Ads,United States,31,2018-06-18 02:49:33,2018-06-29 23:31:45
4,af1753dfd703c,b5f31ea91ae62,27,1,IE,SEO,United States,16,2018-01-31 18:26:38,2018-02-13 16:36:51
...,...,...,...,...,...,...,...,...,...,...
27195,cd16362b71572,2515db9e4437e,29,1,IE,SEO,United States,48,2018-03-08 05:02:33,2018-05-05 23:04:43
27196,132fb9f609701,58511ac9e2ebb,42,0,Safari,Ads,France,12,2018-05-15 23:23:29,2018-05-19 06:35:14
27197,4c6d7c325963f,8964657427d3d,41,1,Chrome,Ads,Other,26,2018-06-08 15:39:11,2018-06-13 17:24:44
27198,61daa6f70df29,df795a2402c3f,36,1,IE,Ads,Romania,17,2018-06-25 12:47:27,2018-08-27 19:17:54
27199,54936d27a47a7,1f91e2413d763,24,0,Chrome,Direct,United States,48,2018-01-20 17:55:53,2018-01-22 00:55:54

In [178]:
#2.將'user_id' & 'device_id' dropout
combine_data.drop(['user_id','device_id'],inplace = True,axis=1)
print(combine_data.columns)
print(combine_data.shape)

Index(['age', 'sex', 'browser', 'source', 'country', 'purchase_value',
       'signup_time', 'purchase_time'],
      dtype='object')
(136000, 8)

In [179]:
#3.將'browser','source','country'做one-hot-encoding

pd.get_dummies(combine_data['browser'])
onehot_encoding=pd.get_dummies(combine_data['browser'],prefix='browser')
combine_data=combine_data.drop('browser',axis=1)
combine_data=pd.concat([onehot_encoding,combine_data],axis=1)


pd.get_dummies(combine_data['source'])
onehot_encoding=pd.get_dummies(combine_data['source'],prefix='source')
combine_data=combine_data.drop('source',axis=1)
combine_data=pd.concat([onehot_encoding,combine_data],axis=1)

pd.get_dummies(combine_data['country'])
onehot_encoding=pd.get_dummies(combine_data['country'],prefix='country')
combine_data=combine_data.drop('country',axis=1)
combine_data=pd.concat([onehot_encoding,combine_data],axis=1)

In [180]:
print(combine_data.shape)
#combine_data.columns.values

(136000, 194)

In [181]:
#4 分割'signup_time' & 'purchase_time'
combine_signup_time = []
combine_signup_day=[]
for each_sig in combine_data['signup_time']:
        if each_sig.find('checkpoint') == -1:
            combine_signup_time.append(each_sig.split(" ")[-1])
            combine_signup_day.append(each_sig.split(" ")[0])

            
combine_purchase_time = []
combine_purchase_day=[]
for each_pur in combine_data['purchase_time']:
        if each_pur.find('checkpoint') == -1:
            combine_purchase_time.append(each_pur.split(" ")[-1])
            combine_purchase_day.append(each_pur.split(" ")[0])

In [182]:
combine_data['S_Time']=combine_signup_time
combine_data['S_Date']=combine_signup_day
combine_data['P_Time']=combine_purchase_time
combine_data['P_Date']=combine_purchase_day
print(combine_data.shape)

(136000, 198)

In [183]:
#4.1 將S_Time & P_Time 取'時'出來
x_S_Time_hour=[]
for each_S_Time in combine_data['S_Time']:
        if each_S_Time.find('checkpoint') == -1:
            x_S_Time_hour.append(each_S_Time.split(":")[0])
            
#4.2 將P_Time 取'時'出來
x_P_Time_hour=[]
for each_P_Time in combine_data['P_Time']:
        if each_P_Time.find('checkpoint') == -1:
            x_P_Time_hour.append(each_P_Time.split(":")[0])

In [184]:
combine_data['S_Time']=x_S_Time_hour 
combine_data['P_Time']=x_P_Time_hour

In [185]:
#4.1.1 將S_Time & P_Time 取'分'出來

x_S_Time_min=[]
for each_S_Time in combine_data['S_Time']:
        if each_S_Time.find('checkpoint') == -1:
            x_S_Time_min.append(each_S_Time.split(":")[0])
            
x_P_Time_min=[]
for each_P_Time in combine_data['P_Time']:
        if each_P_Time.find('checkpoint') == -1:
            x_P_Time_min.append(each_P_Time.split(":")[0])

In [186]:
combine_data['S_Time_min']=x_S_Time_min
combine_data['P_Time_min']=x_P_Time_min

In [187]:
#4.3 將S_Date & P_Date 取'月' & '日'出來
x_S_Date_month=[]
x_S_Date_day=[]
for each_S_Date in combine_data['S_Date']:
        if each_S_Date.find('checkpoint') == -1:
            x_S_Date_month.append(each_S_Date.split("-")[1])
            x_S_Date_day.append(each_S_Date.split("-")[2])

x_P_Date_month=[]
x_P_Date_day=[]
for each_P_Date in combine_data['P_Date']:
        if each_P_Date.find('checkpoint') == -1:
            x_P_Date_month.append(each_P_Date.split("-")[1])
            x_P_Date_day.append(each_P_Date.split("-")[2])

In [188]:
combine_data['S_Date_month']= x_S_Date_month
combine_data['S_Date_day']= x_S_Date_day
combine_data['P_Date_month']= x_P_Date_month
combine_data['P_Date_day']= x_P_Date_day

In [189]:
#4.4.將'S_Date' & 'P_Date' dropout
combine_data.drop(['S_Date','P_Date'],inplace = True,axis=1)

In [190]:
combine_data

,country_Afghanistan,country_Albania,country_Algeria,country_Angola,country_Antigua and Barbuda,country_Argentina,country_Armenia,country_Australia,country_Austria,country_Azerbaijan,...,signup_time,purchase_time,S_Time,P_Time,S_Time_min,P_Time_min,S_Date_month,S_Date_day,P_Date_month,P_Date_day
0,0,0,0,0,0,0,0,0,0,0,...,2018-05-27 12:02:29,2018-08-19 14:09:55,12,14,12,14,05,27,08,19
1,0,0,0,0,0,0,0,0,0,0,...,2018-06-06 08:09:12,2018-09-09 01:26:43,08,01,08,01,06,06,09,09
2,0,0,0,0,0,0,0,0,0,0,...,2018-03-29 18:24:17,2018-06-13 04:56:21,18,04,18,04,03,29,06,13
3,0,0,0,0,0,0,0,0,0,0,...,2018-06-18 02:49:33,2018-06-29 23:31:45,02,23,02,23,06,18,06,29
4,0,0,0,0,0,0,0,0,0,0,...,2018-01-31 18:26:38,2018-02-13 16:36:51,18,16,18,16,01,31,02,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27195,0,0,0,0,0,0,0,0,0,0,...,2018-03-08 05:02:33,2018-05-05 23:04:43,05,23,05,23,03,08,05,05
27196,0,0,0,0,0,0,0,0,0,0,...,2018-05-15 23:23:29,2018-05-19 06:35:14,23,06,23,06,05,15,05,19
27197,0,0,0,0,0,0,0,0,0,0,...,2018-06-08 15:39:11,2018-06-13 17:24:44,15,17,15,17,06,08,06,13
27198,0,0,0,0,0,0,0,0,0,0,...,2018-06-25 12:47:27,2018-08-27 19:17:54,12,19,12,19,06,25,08,27
27199,0,0,0,0,0,0,0,0,0,0,...,2018-01-20 17:55:53,2018-01-22 00:55:54,17,00,17,00,01,20,01,22

In [191]:
#5.將'signup_time' & 'purchase_time' dropout
combine_data.drop(['signup_time','purchase_time'],inplace = True,axis=1)
print(combine_data.shape)

(136000, 200)

In [192]:
combine_data.columns.values

array(['country_Afghanistan', 'country_Albania', 'country_Algeria',
       'country_Angola', 'country_Antigua and Barbuda',
       'country_Argentina', 'country_Armenia', 'country_Australia',
       'country_Austria', 'country_Azerbaijan', 'country_Bahamas',
       'country_Bahrain', 'country_Bangladesh', 'country_Barbados',
       'country_Belarus', 'country_Belgium', 'country_Belize',
       'country_Benin', 'country_Bermuda', 'country_Bhutan',
       'country_Bolivia', 'country_Bonaire; Sint Eustatius; Saba',
       'country_Bosnia and Herzegowina', 'country_Botswana',
       'country_Brazil', 'country_British Indian Ocean Territory',
       'country_Brunei Darussalam', 'country_Bulgaria',
       'country_Burkina Faso', 'country_Cambodia', 'country_Cameroon',
       'country_Canada', 'country_Cape Verde', 'country_Cayman Islands',
       'country_Chile', 'country_China', 'country_Colombia',
       'country_Congo', 'country_Congo The Democratic Republic of The',
       'country_Costa Rica', "country_Cote D'ivoire",
       'country_Croatia (LOCAL Name: Hrvatska)', 'country_Cuba',
       'country_Curacao', 'country_Cyprus', 'country_Czech Republic',
       'country_Denmark', 'country_Djibouti', 'country_Dominica',
       'country_Dominican Republic', 'country_Ecuador', 'country_Egypt',
       'country_El Salvador', 'country_Estonia', 'country_Ethiopia',
       'country_European Union', 'country_Faroe Islands', 'country_Fiji',
       'country_Finland', 'country_France', 'country_Gabon',
       'country_Gambia', 'country_Georgia', 'country_Germany',
       'country_Ghana', 'country_Gibraltar', 'country_Greece',
       'country_Guadeloupe', 'country_Guam', 'country_Guatemala',
       'country_Haiti', 'country_Honduras', 'country_Hong Kong',
       'country_Hungary', 'country_Iceland', 'country_India',
       'country_Indonesia', 'country_Iran (ISLAMIC Republic Of)',
       'country_Iraq', 'country_Ireland', 'country_Israel',
       'country_Italy', 'country_Jamaica', 'country_Japan',
       'country_Jordan', 'country_Kazakhstan', 'country_Kenya',
       'country_Korea Republic of', 'country_Kuwait',
       'country_Kyrgyzstan', "country_Lao People's Democratic Republic",
       'country_Latvia', 'country_Lebanon', 'country_Lesotho',
       'country_Libyan Arab Jamahiriya', 'country_Liechtenstein',
       'country_Lithuania', 'country_Luxembourg', 'country_Macau',
       'country_Macedonia', 'country_Madagascar', 'country_Malawi',
       'country_Malaysia', 'country_Maldives', 'country_Malta',
       'country_Mauritius', 'country_Mexico',
       'country_Moldova Republic of', 'country_Monaco',
       'country_Mongolia', 'country_Montenegro', 'country_Morocco',
       'country_Mozambique', 'country_Myanmar', 'country_Namibia',
       'country_Nauru', 'country_Nepal', 'country_Netherlands',
       'country_New Caledonia', 'country_New Zealand',
       'country_Nicaragua', 'country_Niger', 'country_Nigeria',
       'country_Norway', 'country_Oman', 'country_Other',
       'country_Pakistan', 'country_Palestinian Territory Occupied',
       'country_Panama', 'country_Papua New Guinea', 'country_Paraguay',
       'country_Peru', 'country_Philippines', 'country_Poland',
       'country_Portugal', 'country_Puerto Rico', 'country_Qatar',
       'country_Reunion', 'country_Romania', 'country_Russian Federation',
       'country_Rwanda', 'country_Saint Kitts and Nevis',
       'country_Saint Martin', 'country_San Marino',
       'country_Saudi Arabia', 'country_Senegal', 'country_Serbia',
       'country_Seychelles', 'country_Singapore',
       'country_Slovakia (SLOVAK Republic)', 'country_Slovenia',
       'country_South Africa', 'country_South Sudan', 'country_Spain',
       'country_Sri Lanka', 'country_Sudan', 'country_Sweden',
       'country_Switzerland', 'country_Syrian Arab Republic',
       'country_Taiwan; Republic of China (ROC)', 'country_Tajikistan',
       'country_Tanzania United Republic of', 'country_Thailand',
       'country_Trinidad and Tobago', 'country_Tunisia', 'country_Turkey',
       'country_Turkmenistan', 'country_Uganda', 'country_Ukraine',
       'country_United Arab Emirates', 'country_United Kingdom',
       'country_United States', 'country_Uruguay', 'country_Uzbekistan',
       'country_Vanuatu', 'country_Venezuela', 'country_Viet Nam',
       'country_Virgin Islands (U.S.)', 'country_Yemen', 'country_Zambia',
       'country_Zimbabwe', 'source_Ads', 'source_Direct', 'source_SEO',
       'browser_Chrome', 'browser_FireFox', 'browser_IE', 'browser_Opera',
       'browser_Safari', 'age', 'sex', 'purchase_value', 'S_Time',
       'P_Time', 'S_Time_min', 'P_Time_min', 'S_Date_month', 'S_Date_day',
       'P_Date_month', 'P_Date_day'], dtype=object)

In [195]:
combine_data

,country_Afghanistan,country_Albania,country_Algeria,country_Angola,country_Antigua and Barbuda,country_Argentina,country_Armenia,country_Australia,country_Austria,country_Azerbaijan,...,sex,purchase_value,S_Time,P_Time,S_Time_min,P_Time_min,S_Date_month,S_Date_day,P_Date_month,P_Date_day
0,0,0,0,0,0,0,0,0,0,0,...,0,48,12,14,12,14,05,27,08,19
1,0,0,0,0,0,0,0,0,0,0,...,1,50,08,01,08,01,06,06,09,09
2,0,0,0,0,0,0,0,0,0,0,...,0,31,18,04,18,04,03,29,06,13
3,0,0,0,0,0,0,0,0,0,0,...,0,31,02,23,02,23,06,18,06,29
4,0,0,0,0,0,0,0,0,0,0,...,1,16,18,16,18,16,01,31,02,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27195,0,0,0,0,0,0,0,0,0,0,...,1,48,05,23,05,23,03,08,05,05
27196,0,0,0,0,0,0,0,0,0,0,...,0,12,23,06,23,06,05,15,05,19
27197,0,0,0,0,0,0,0,0,0,0,...,1,26,15,17,15,17,06,08,06,13
27198,0,0,0,0,0,0,0,0,0,0,...,1,17,12,19,12,19,06,25,08,27
27199,0,0,0,0,0,0,0,0,0,0,...,0,48,17,00,17,00,01,20,01,22

In [197]:
print(combine_data.shape)

(136000, 200)

In [198]:
#對'S_Time','P_Time','S_Date_month','S_Date_day','P_Date_month','P_Date_day'做one hot encoding
pd.get_dummies(combine_data['S_Time'])
onehot_encoding=pd.get_dummies(combine_data['S_Time'],prefix='S_Time')
combine_data=combine_data.drop('S_Time',axis=1)
combine_data=pd.concat([onehot_encoding,combine_data],axis=1)

pd.get_dummies(combine_data['P_Time'])
onehot_encoding=pd.get_dummies(combine_data['P_Time'],prefix='P_Time')
combine_data=combine_data.drop('P_Time',axis=1)
combine_data=pd.concat([onehot_encoding,combine_data],axis=1)

pd.get_dummies(combine_data['S_Date_month'])
onehot_encoding=pd.get_dummies(combine_data['S_Date_month'],prefix='S_Date_month')
combine_data=combine_data.drop('S_Date_month',axis=1)
combine_data=pd.concat([onehot_encoding,combine_data],axis=1)

pd.get_dummies(combine_data['S_Date_day'])
onehot_encoding=pd.get_dummies(combine_data['S_Date_day'],prefix='S_Date_day')
combine_data=combine_data.drop('S_Date_day',axis=1)
combine_data=pd.concat([onehot_encoding,combine_data],axis=1)

pd.get_dummies(combine_data['P_Date_month'])
onehot_encoding=pd.get_dummies(combine_data['P_Date_month'],prefix='P_Date_month')
combine_data=combine_data.drop('P_Date_month',axis=1)
combine_data=pd.concat([onehot_encoding,combine_data],axis=1)

pd.get_dummies(combine_data['P_Date_day'])
onehot_encoding=pd.get_dummies(combine_data['P_Date_day'],prefix='P_Date_day')
combine_data=combine_data.drop('P_Date_day',axis=1)
combine_data=pd.concat([onehot_encoding,combine_data],axis=1)

In [199]:
print(combine_data.shape)

(136000, 324)

In [200]:
combine_data

,P_Date_day_01,P_Date_day_02,P_Date_day_03,P_Date_day_04,P_Date_day_05,P_Date_day_06,P_Date_day_07,P_Date_day_08,P_Date_day_09,P_Date_day_10,...,browser_Chrome,browser_FireFox,browser_IE,browser_Opera,browser_Safari,age,sex,purchase_value,S_Time_min,P_Time_min
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,33,0,48,12,14
1,0,0,0,0,0,0,0,0,1,0,...,1,0,0,0,0,26,1,50,08,01
2,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,28,0,31,18,04
3,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,50,0,31,02,23
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,27,1,16,18,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27195,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,29,1,48,05,23
27196,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,42,0,12,23,06
27197,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,41,1,26,15,17
27198,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,36,1,17,12,19
27199,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,24,0,48,17,00

In [201]:
X_train = combine_data[:108800]
X_test = combine_data[108800:]
y_train = df_train_copy['class'].astype(str).map({'False': 0 ,'True':1})
print('train_y',y_train.shape)
print('test_data',X_test.shape)
print('train_data',X_train.shape)
X_train.head(5)

train_y (108800,)
test_data (27200, 324)
train_data (108800, 324)

,P_Date_day_01,P_Date_day_02,P_Date_day_03,P_Date_day_04,P_Date_day_05,P_Date_day_06,P_Date_day_07,P_Date_day_08,P_Date_day_09,P_Date_day_10,...,browser_Chrome,browser_FireFox,browser_IE,browser_Opera,browser_Safari,age,sex,purchase_value,S_Time_min,P_Time_min
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,33,0,48,12,14
1,0,0,0,0,0,0,0,0,1,0,...,1,0,0,0,0,26,1,50,08,01
2,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,28,0,31,18,04
3,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,50,0,31,02,23
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,27,1,16,18,16

## 建模/預測

In [202]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [203]:
random_seed = 91015  # set seed for same train test data split
x_train, x_test, y_train, y_test = train_test_split(X_train,
                                                    y_train, test_size=0.2,
                                                    random_state=random_seed)

In [204]:
print("shape of X_train: ", x_train.shape)

shape of X_train:  (87040, 324)

In [205]:
print("shape of X_test: ", x_test.shape)

shape of X_test:  (21760, 324)

In [206]:
#clf = RandomForestClassifier(n_estimators=20)
clf = RandomForestClassifier(n_estimators=60, criterion="gini", max_depth=None, bootstrap=True, random_state=None)

In [207]:
clf.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='sqrt', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=20, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=60,
                       n_jobs=None, oob_score=True, random_state=10, verbose=0,
                       warm_start=False)

In [208]:
y_pred = clf.predict(x_test)

In [209]:
accuracy_score(y_test, y_pred)

0.9540441176470589

In [210]:
clf.feature_importances_

array([7.41674325e-03, 1.20340896e-02, 6.40708436e-03, 6.38822785e-03,
       6.30805718e-03, 9.66272772e-03, 8.86288243e-03, 7.02517399e-03,
       4.25285131e-03, 5.36390658e-03, 6.84730778e-03, 1.20288348e-02,
       6.52201013e-04, 1.85154005e-03, 1.21839556e-03, 7.21590942e-04,
       1.12916603e-03, 2.99440342e-03, 3.17360927e-03, 2.46052257e-03,
       3.85441072e-03, 2.90646414e-03, 4.87023561e-03, 5.58261567e-03,
       4.69567226e-03, 5.83063402e-03, 4.49351511e-03, 5.29710133e-03,
       5.73224117e-03, 4.30103683e-03, 3.82304792e-03, 4.55156087e-01,
       1.28535396e-02, 1.52173622e-02, 2.10397833e-02, 1.26006277e-02,
       4.42511332e-03, 4.47669822e-03, 3.66035101e-03, 1.84867649e-03,
       1.45776300e-03, 5.30824040e-04, 7.19160578e-05, 5.32475650e-03,
       9.42634144e-03, 3.79171084e-03, 6.54148331e-03, 7.52339524e-03,
       7.72832050e-03, 1.05280249e-02, 5.72583402e-03, 5.62904003e-03,
       8.45476339e-03, 9.27479099e-03, 7.63511307e-03, 4.50681947e-04,
       2.43126770e-03, 4.79598851e-04, 2.93309169e-03, 1.19705116e-03,
       1.18217408e-03, 7.15770670e-04, 9.29170058e-04, 1.49121532e-03,
       3.61406363e-04, 3.70841521e-04, 3.30952772e-04, 8.36634205e-04,
       4.11547624e-04, 4.57229594e-04, 4.00962964e-04, 3.98464431e-04,
       3.42962200e-04, 5.40012451e-04, 1.28098612e-01, 2.66001533e-03,
       3.01833697e-03, 3.55092024e-03, 3.09673653e-03, 5.58873037e-03,
       4.30514159e-03, 2.60762906e-03, 4.34513438e-04, 4.29517793e-04,
       4.61561986e-04, 3.95577436e-04, 2.46034235e-04, 2.59433181e-04,
       2.52634799e-04, 2.37686307e-04, 5.02615343e-04, 4.62020361e-04,
       3.57917000e-04, 2.43204923e-04, 3.71283996e-04, 2.26241287e-04,
       2.08565407e-04, 3.86121106e-04, 2.07539359e-04, 2.72698917e-04,
       2.33421649e-04, 3.00858257e-04, 2.76378747e-04, 2.48666396e-04,
       2.64137581e-04, 3.12848058e-04, 2.80748404e-04, 3.39107123e-04,
       3.85396526e-04, 2.79519271e-04, 4.03619848e-04, 1.92608675e-04,
       3.46268258e-04, 2.23091228e-04, 3.11200891e-04, 4.49119779e-04,
       5.04435200e-04, 3.07413307e-04, 3.54640150e-04, 2.49125674e-04,
       2.35938410e-04, 3.42014979e-04, 2.38942268e-04, 4.77564980e-04,
       2.95843911e-04, 3.80949648e-04, 2.61242258e-04, 2.95934845e-04,
       3.05460407e-04, 3.47080161e-04, 0.00000000e+00, 0.00000000e+00,
       2.80799027e-05, 0.00000000e+00, 0.00000000e+00, 1.55843306e-05,
       0.00000000e+00, 5.74171110e-05, 4.91963774e-06, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 2.75395519e-05, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 1.34004454e-04, 0.00000000e+00,
       0.00000000e+00, 1.09344982e-06, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 1.71054370e-04, 0.00000000e+00, 0.00000000e+00,
       1.88973406e-05, 5.01451875e-04, 9.71217701e-06, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 2.70422255e-06,
       7.50355429e-06, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 7.66911182e-06, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 1.78712735e-06, 0.00000000e+00, 0.00000000e+00,
       7.23832019e-06, 9.28993462e-05, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 1.93111787e-04, 0.00000000e+00, 0.00000000e+00,
       5.19237439e-06, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 2.69249916e-05, 0.00000000e+00,
       0.00000000e+00, 8.56788669e-05, 3.40576384e-05, 8.02835813e-06,
       0.00000000e+00, 6.67573002e-07, 9.75407250e-07, 1.09609914e-04,
       0.00000000e+00, 2.20034509e-04, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 1.43571203e-04, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 2.00351755e-06, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       5.61720586e-06, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       7.70459900e-05, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 3.05659468e-06, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 9.04225787e-05,
       0.00000000e+00, 9.24587160e-05, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 1.55547022e-05, 0.00000000e+00, 7.38243878e-04,
       5.14437169e-07, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 5.94792955e-06, 2.91793358e-06, 2.25890016e-05,
       6.11552942e-06, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       8.75011249e-06, 4.76728517e-05, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 6.66976916e-06, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 1.74858867e-06, 0.00000000e+00,
       0.00000000e+00, 5.44967846e-05, 0.00000000e+00, 3.46175083e-05,
       0.00000000e+00, 0.00000000e+00, 4.01585574e-05, 3.43582945e-05,
       0.00000000e+00, 5.74038267e-05, 0.00000000e+00, 0.00000000e+00,
       1.34729717e-06, 0.00000000e+00, 0.00000000e+00, 6.29113021e-06,
       0.00000000e+00, 0.00000000e+00, 6.13791221e-06, 0.00000000e+00,
       2.47508736e-04, 1.05152218e-03, 1.57297806e-05, 0.00000000e+00,
       0.00000000e+00, 7.35675278e-06, 1.43624314e-05, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.10481343e-03,
       7.50141390e-04, 8.99308413e-04, 1.42223769e-03, 7.68897874e-04,
       8.49622243e-04, 1.12039756e-04, 7.40407613e-04, 5.57373977e-03,
       1.14419301e-03, 5.99902641e-03, 5.83502152e-03, 6.49001404e-03])

In [211]:
y_pred=clf.predict(X_test)

In [212]:
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [213]:
submit_file = pd.DataFrame({'user_id': f_test_ID, 'class': y_pred})

In [215]:
submit_file['user_id']=submit_file['user_id'].astype('str')

In [216]:
submit_file['class'][1:220]

1      0
2      0
3      0
4      0
5      0
      ..
215    0
216    0
217    0
218    0
219    0
Name: class, Length: 219, dtype: int64

In [218]:
submit_file.to_csv('cw_credit_2336.csv',index=False)